$font-stack:    Helvetica, sans-serif;
$primary-color: #aaa;
$height: 4em;

h1 {
  font: 100% $font-stack $height;
  color: $primary-color;
  border-radius: 5px;
  background: linear-gradient(to top, #eee, white);
}
