$font-stack:    Helvetica, sans-serif;
$primary-color: #aaa;
$height: 4em;

h1 {
  font: 100% $font-stack $height;
  color: $primary-color;
  border-radius: 5px;
  background: linear-gradient(to top, #eee, white);
}


@font-face
{
      font-family: 'CabinSketch';

      src: url('../fonts/CabinSketch-Bold.ttf');

      src: url('../fonts/CabinSketch-Regular.ttf');
}


h3
{
  font-family: 'CabinSketch';
  font-size:  2em;
}

h4
{
  font-family: 'CabinSketch';
  font-size:  4em;
  font-weight: bold;
}
